extends layout

block content
    h1 Postbrb is a place to post and read stories
    div(class="container__stories")
        article(class="homepage__stories")
            h2= //title of story
                a(class="homepage__storiesLink" href=`stories/${story.id}`) story1
        article(class="homepage__stories")
            h2= //title of story
                a(class="homepage__storiesLink" href=`stories/${story.id}`) story2
        article(class="homepage__stories")
            h2= //title of story
                a(class="homepage__storiesLink" href=`stories/${story.id}`) story3
