extends layout

block content
    h1 Postbrb is a place to post and read stories
    ul
        li
            a(class="homepage__stories" href="#") story1
        li
            a(class="homepage__stories" href="#") story2
        li
            a(class="homepage__stories" href="#") story3
