doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/signup-form.css')
        link(rel='stylesheet' href='/stylesheets/navbar.css')
        link(rel='stylesheet' href='/stylesheets/login-form.css')
  body
    div#navbar
      div.nav-buttons
        //-a only sent by GET-//
        if locals.authenticated
          a(href="/users/logout").auth-buttons Logout
        else
          a(href="/users/login").auth-buttons Login 
          a(href="/users/login/demo").auth-buttons Demo 
          a(href="/users/signup").auth-buttons Signup
      
    block content
