extends layout

block content
    form.story-form(action="/stories/new" method="post")
        input(type="hidden" name="_csrf" id="_csrf" value=csrfToken)
        label(for="title") Story Title
        input(type="text" name="title" id="story-form__title" placeholder="Story   Title" required)
        label(for="content") Tell your story
        textarea(name="content" id="story-form__content" placeholder="Tell your story here...")
        button(type="submit") Publish
    a(href="/" class="save_button") Save
    a(href="/" class="trash_button") Trash
