extends layout 

block content
  div.page-container
    div.login-form-container 
      p.login-message-container
        img.auth-logo(src="/assets/images/postbrb-logo.png")   
        span.login-message Welcome back to PostBrb
      if errors
        div.login__error-container 
          ul.login-errorlist
              each error in errors 
                  li.login-error #{error}  
      form.login-form(action="/users/login" method="post")
        input(type="hidden" name="_csrf" id="_csrf" value=csrfToken) 
        label(for="email") E-mail
        input(type="email" name="email" id="login-form__email" placeholder="Your E-mail" value=email)
        label(for="password") Password
        input(type="password" name="password" id="login-form__password" placeholder="Password" value=password)
        button.login-button Login
      div.demo-login
        a(href="/users/login/demo").demo-button Demo
        

    