
.header{
    position: relative;
    font-size: 36px;
    margin-top: 65px;
    margin-bottom: 20px;
    margin-left: 15px;
    width: 100%;

}

p {
    font-size: 15px;
}


/* .border {
    position: relative;
    border: 2px;
    border-style: dotted;
    border-color: rgba(154, 197, 235, 3);
    border-radius: 40px;
    margin-left: 10px;
    margin-right: 40px;
    margin-top: 40px;
} */
.container__stories{
    position: relative;
    display: flex;
    flex-direction: column;
    /* max-width: 1600px; */
    width: 80%;
    padding: 10px;
    height: 65%;
    overflow: auto;
    box-sizing: border-box;
}

.overall-box{

    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid cornflowerblue;
    border-radius: 5px;
    margin: 2.5px;
    cursor: pointer;
    box-shadow: 1px gray;
    background-color: rgb(236, 228, 228);
}

.overall-box:hover{
    background-color:rgba(130, 174, 255, 0.349);
}


.button-read{

    float:right;
    text-decoration: none;

}

.button-containter{
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid rgba(89, 89, 255, 0.329);
    background-color: blue;
    color: white;
    border-radius: 30px;
    margin-top: 25px;
    width: 160px;
    margin-bottom: 65px;
}

.btn-start{
    text-decoration: none;
    font-weight: bold;
    padding-left: 40px;
}
.button-containter:hover{
    background-color: cornflowerblue;
}

.story-title{
    margin-top: 25px;
    font-weight: bolder;
    font-size: 20px;


}


.story-detail{

    color:rgb(146, 151, 159);
    margin-bottom: -10px;
    display: flexbox;
    flex-direction: column;


}

.avatarIcon{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 5px;
    /*
    margin-left: 20px; */

}

.heading-container{
    display: flex;
    justify-content: center;
    width: 100%
}

.logoName{
    /* width: 358px; */
    width: 19%;
    height: 15%;
}
.classy-container{
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: 20px;
}
