.container__stories{
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overall-box{
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid rgba(89, 89, 255, 0.329);
    border-radius: 5px;
    margin: 2.5px;

}

.overall-box:hover{
    background-color:rgba(130, 174, 255, 0.349);
}

.button-read{
    float:right;

}



.btn-start{
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid rgba(89, 89, 255, 0.329);
    border-radius: 5px;
    margin: 10px;
}

.header{
    font-size: 36px;
    margin-bottom: 20px;
}

.story-title{
    font-weight: bolder;


}


.story-detail{
    color:rgb(63, 79, 109);
    display: inline;
}
