.page-container {
    position: absolute;
    top: 8%;
    background-image: url("/assets/images/coding.jpg");
    width: 100%;
    height: 92%;
}

.signup-form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    background-color: white;
    padding: 30px;
    border: 2px solid darkgray;
}

.signup-form__avatar {
    position: relative;
    height: 60px;
    border-radius: 50%;
    max-width: 60px;
    display: inline-block;
}

.signup-form {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}

.signup-errorlist {
    list-style-type: none;
}

.signup__error-container {
    border: 1px solid grey;
    background-color: rgb(214, 210, 210);
    position: relative;
    color: red;
    margin-top: 10px;
}

.signup-error {
    padding: 3px;
}

.signup-form > * {
    padding: 10px;
}

.avatar-select-label {
    font-weight: bold;
}

.signup-button {
    margin-top: 15px;
    border-radius: 25px;
    font-weight: bold;
    background-color: blue;
    transition: background-color 0.25s;
    color: white;
}

.signup-button:hover {
    cursor: pointer;
    background-color: cornflowerblue;
}

.signup-message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.signup-message {
    font-size: 25px;
    font-weight: bold;
}

.demo-button {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    border-top: 1px solid blue;
    margin-top: 15px;
    border-radius: 25px;
    font-weight: bold;
    background-color: blue;
    transition: background-color 0.25s;
    color: white;
    text-decoration: none;
    height: 40px;
    width: 100px;
}

.demo-button:hover {
    cursor: pointer;
    background-color: cornflowerblue;
}

