.signup-form__avatar {
    position: relative;
    height: 60px;
    border-radius: 50%;
    max-width: 60px;
    display: inline-block;
}

.signup-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signup-errorlist {
    position: absolute;
    top: 12%;
}

