.signup-form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.signup-form__avatar {
    position: relative;
    height: 60px;
    border-radius: 50%;
    max-width: 60px;
    display: inline-block;
}

.signup-form {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}

.signup-errorlist {
    list-style-type: none;
}

.signup__error-container {
    border: 1px solid grey;
    background-color: rgb(214, 210, 210);
    position: relative;
    color: red;
}

.signup-error {
    padding: 3px;
}

.signup-form > * {
    padding: 10px;
}

.avatar-select-label {
    font-weight: bold;
}

.signup-button {
    margin-top: 15px;
    border-radius: 25px;
    font-weight: bold;
    background-color: lightblue;
    transition: background-color 0.25s;
}

.signup-button:hover {
    cursor: pointer;
    background-color: blue;
}

